<a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>
<div class="well">
    <div class="form-group">
        <label for="make">Group by Make</label>
        <select id="make" class="form-control" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
            <option value=""></option>
            <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
        </select>
    </div>
    <button class="btn btn-default" (click)="resetFilter()">Reset Filter</button>
</div>



<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th *ngFor="let c of columns">
                <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                    {{c.title}}
                    <i *ngIf="filter.sortBy === c.key" class="fa" [class.fa-sort-asc]="filter.isSortAscending"
                        [class.fa-sort-desc]="!filter.isSortAscending">
                    </i>
                </div>
                <div *ngIf="!c.isSortable">
                    {{c.title}}
                </div>
            </th>
        </tr>
    </thead>
<tbody *ngFor="let vehicle of queryResult.items">
        <tr>
            <td>{{vehicle.id}}</td>
            <td>{{vehicle.makes.id}}</td>
            <td>{{vehicle.model.name}}</td>
            <td>{{vehicle.contact.name}}</td>
            <td>
                <a [routerLink]="['/vehicles/' + vehicle.id]">View</a>
            </td>
        </tr>
    </tbody>
</table>
<app-pagination [total-items]="queryResult.totalItems" [page-size]="filter.pageSize" (page-changed)="onPageChange($event)"></app-pagination>