<a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>

<div class="form-group well">
    <label for="make">Group by Make</label>
    <select id="make" class="form-control" [(ngModel)]="filter.makeId" (change)="onFilterChange()">
        <option value=""></option>
        <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
    </select>
</div>

<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Contact Name</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody *ngFor="let vehicle of vehicles">
        <tr>
            <td>{{vehicle.id}}</td>
            <td>{{vehicle.makes.id}}</td>
            <td>{{vehicle.model.name}}</td>
            <td>{{vehicle.contact.name}}</td>
            <td>
                <a [routerLink]="['/vehicles/' + vehicle.id]">View</a>
            </td>
        </tr>
    </tbody>
</table>